html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
}


button {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    margin-left: 5px;
    border-radius: 5px;
}

#closeNav,
#openNav {
    position: absolute;
    top: 50%;
}

.content-wrapper {
    position: relative;
}

#map {
    position: relative;
    z-index: 1;
}


.list-group {
    position: unset !important;
}

.form-inline {
    padding-top: 10px;
}

#list {
    border-collapse: collapse;
    width: 100%;
}

#list td {
    cursor: pointer;
}

#list td,
#list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#list tr:hover {
    background-color: #ddd;
}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D7D2FA;
    color: rgb(5, 5, 5);

}

#back {
    position: absolute;
    top: 11%;
    margin: 13px;
    width: 30px;
    height: 30px;
    z-index: 2;
}

#back>i {
    position: absolute;
    left: 24%;
}

.search {
    display: flex;
}

h3 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.flex-center {
    display: flex;
}


#logo {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 93%;
    top: 3%;
    opacity: 85%;
}

.show-checkbox {
    display: grid;
    position: absolute;
    z-index: 2;
    left: 87%;
    top: 20%;
    background-color: white;
    padding: 4px 0px 0px 6px;
    border-radius: 5px;
    font-size: 13px;
}

label {
    margin-bottom: 2px;
}

.change-map {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 90%;
    bottom: 5%;
    border-radius: 3px;
}

select {
    font-weight: bold;
}

.info-year {
    width: 222px;
    height: 60px;
    background-color: white;
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: 60px;
    border-radius: 3px;
    left: 81.54%;
    opacity: 80%;
    display: none;
}

.info-year img span {
    position: absolute;
}

span {
    margin: 0px 6px;
    font-size: 10px;
}

.position-ref {
    float: right;
    margin: 10px;
}

.img-circle {
    width: 30px;
    height: 30px;
}

.right-info {
    display: flex;
}

.leaflet-popup-content {
    width: auto !important;
}

.tab {
    overflow: hidden;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width: 410px;
    height: 329px;
    font-size: 12px;
}

.tabcontent table {
    width: 410px !important;
    height: 300px;
}

.tabcontent th {
    width: 100px;
}

.tabcontent tr {
    height: 20px;
}

.carousel-item>img {
    cursor: pointer;
}

#image-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
}

#zoomed-image-dialog {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-button {
    position: absolute;
    top: 20%;
    display: block;
}

#next {
    color: white;
    height: 425px;
    width: 150px;
    left: 238%;
    opacity: 0;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.6s;

}

#prev {
    color: white;
    height: 425px;
    width: 150px;
    left: 145%;
    opacity: 0;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.6s;
}

#next:hover, #prev:hover {
    color: white;
    opacity: 1;
    font-size: 30px;
}

#next:hover>i, #prev:hover>i{
    opacity: 0.6;
}

#exit{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}